body {
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 16px; /* Set the base font size */
    line-height: 1.5; /* Line height for better readability */
    color: #333; /* Text color */
	margin: 0; /* Remove default body margin */
}

main p {
    font-size: inherit; /* Inherit the base font size */
    width: 80%; 
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

ol {
    margin: 15px 0;
}

ol li {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc; /* Changes bullet style to a disc */
    padding-left: 20px; /* Indentation for bullet points */
}

strong {
    color: #007BFF; /* Bootstrap Primary Color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366; /* Azul escuro */
    padding: 10px 20px;
    color: white;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #003366; /* Background color for the navbar */
    padding: 10px 0;
	font-weight: bold;
}

.navbar a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding for spacing */
    transition: all 0.3s ease; /* Smooth transition */
}

.navbar a:hover {
    font-weight: bold; /* Make text bold on hover */
    background-color: #00509e; /* Background color on hover */
    border-radius: 5px; /* Optional: rounded corners */
}

.nav__logo {
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Distribui os elementos para as extremidades */
    margin: 20px; 
	background-color: #cce5ff; /* Cor de fundo do carrossel (tom claro de azul) */
    padding: 20px; /* Espaçamento interno para deixar mais bonito */
    border-radius: 8px; /* Bordas arredondadas, opcional */
}

.carousel-text {
    width: 80%;
    font-size: 24px;
    padding: 20px;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0 auto; /* Centers the carousel text within its container */
}

.carousel-button {
    background-color: #00509e;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #007bff;
}

.large-logo {
    height: 350px; /* Aumenta a altura da logo maior */
    margin-left: 20px;
}

.introduction {
    padding: 20px;
}

.scope {
    padding: 20px;
}

.intro-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    padding-bottom: 32px;
    text-align: start; /* Centers the text */
    width: 80%;
    margin: 0 auto; /* Centers the element horizontally */
}
  
.intro-paragraph, p, li {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 16px;
    text-align: start; /* Centers the text */
    width: 80%;
    margin: 0 auto; /* Centers the element horizontally */
}

.scope-text {
    width: 80%;
    font-size: 24px;
    padding: 20px;
    text-align: center; /* Alinha o texto à esquerda */
    margin: 0 auto; /* Centers the carousel text within its container */
}

.scope-title {
    font-size: 1.5em; /* Scope titles size */
    margin-top: 20px; /* Space above the title */
    margin-bottom: 10px; /* Space below the title */
    color: #333; /* Title color */
}

.item-title {
    font-size: 1.0em; /* Scope titles size */
    margin-top: 20px; /* Space above the title */
    margin-bottom: 10px; /* Space below the title */
}

.item-title2 {
    list-style-type: "-"; /* Changes bullet style to a disc */
    padding-left: 20px; /* Indentation for bullet points */
}

#cards-container {
    display: flex; /* Usar flexbox para dispor os cartões lado a lado */
    flex-wrap: wrap; /* Permitir que os cartões quebrem para a próxima linha */
    justify-content: center; /* Centraliza os cartões */
    margin: 20px; /* Espaçamento externo do contêiner */
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
}

#results {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 20px; /* Adds space between cards and results */
}

.card {
    border: 1px solid #ccc; /* Existing border */
    border-radius: 8px; /* Slightly increase radius for rounded corners */
    padding: 20px; 
    margin: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #333; /* Dark text color */
    font-weight: bold; /* Bold text for emphasis */
    text-align: center; /* Center the text */
    width: calc(20% - 20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */  
    padding: 30px; /* Increased padding for more space */
    background: linear-gradient(135deg, #f0f8ff, #e6f7ff); /* Light blue gradient */
}

.select-info {
    font-size: 24px; 
    color: #ffffff; 
    text-align: center; 
    margin-top: 20px; 
    font-family: 'Arial', sans-serif; 
    background-color: #4A90E2; 
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f0f8ff, #e6f7ff); /* Light blue gradient */
}

@media (max-width: 600px) {
    .card {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Automatic height */
    }
}

.card:hover {
    transform: translateY(-5px); /* Slightly lift the card on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.card.selected {
    background: #007bff; /* Cor de fundo ao selecionar */
    color: white; /* Cor do texto ao selecionar */
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4); /* Shadow effect on selection */
}

.card-title {
    color: #007bff; /* A bright blue tone for "Principle 1" */
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold; /* Bold for emphasis */
}

.card-subtitle {
    color: #0056b3; /* A darker blue tone for the subtitle */
    font-size: 18px; /* Slightly smaller than title */
}

.card-text {
    color: #003f7f; /* A consistent blue tone for other text */
    font-size: 16px; /* Regular text size */
    margin: 5px 0; /* Space between lines */
}

.card.selected .card-title,
.card.selected .card-subtitle,
.card.selected .card-text {
    color: white; /* Change text color to white when selected */
}

.large-logo {
    transition: transform 0.5s ease;
}

.large-logo:hover {
    transform: scale(1.05);
}

.centered-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Add some space below */
}

.assert-button {
    background-color: #28a745; /* Green background */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
}

.play-again-button {
    background-color: #ffae00; /* Blue background */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    display: none; /* Initially hidden */
    margin-top: 40px;
}

.footer {
    background-color: #333; /* Dark background for contrast */
    color: white;           /* White text for all content */
    padding: 20px;         /* Padding around the content */
    text-align: center;     /* Center align the text */
}

.footer a {
    color: white;           /* Make links white */
    text-decoration: none;  /* Remove underline from links */
}

.footer a:hover {
    text-decoration: underline; /* Underline links on hover for visibility */
}